### Importa módulos necessários

In [75]:
from pyspark.sql import SparkSession, Row, Window
import pyspark.sql.types as T
import pyspark.sql.functions as F

### Inicia sessão Spark

In [3]:
spark = (
    SparkSession.builder.master("local[*]")
    .appName("exploratory-data-analysis")
    .config("spark.ui.port", "4040")
    .config("spark.ui.showConsoleProgress", "True")
    .getOrCreate()
)

### Carrega tabela da camada bronze

In [63]:
bronze_path = "/home/jovyan/data/bronze/salaries.parquet"
df = spark.read.parquet(bronze_path)

In [64]:
df.show(truncate=False)

+----------------+---------------+-------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
|experience_level|employment_type|job_title          |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|work_year|
+----------------+---------------+-------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
|MI              |FT             |Data Manager       |117400|USD            |117400       |US                |0           |US              |M           |2024     |
|MI              |FT             |Data Manager       |62620 |USD            |62620        |US                |0           |US              |M           |2024     |
|SE              |FT             |Data Manager       |131200|USD            |131200       |US                |100         |US              |M           |2024     |
|SE              |FT             |Data Manager       |95300 |USD            |95300        |US                |100         |US              |M           |2024     |
|SE              |FT             |Associate          |68800 |USD            |68800        |US                |0           |US              |M           |2024     |
|SE              |FT             |Associate          |48000 |USD            |48000        |US                |0           |US              |M           |2024     |
|EN              |FT             |Data Engineer      |264200|USD            |264200       |US                |0           |US              |M           |2024     |
|EN              |FT             |Data Engineer      |143100|USD            |143100       |US                |0           |US              |M           |2024     |
|MI              |FT             |Research Engineer  |208000|USD            |208000       |US                |0           |US              |M           |2024     |
|MI              |FT             |Research Engineer  |141340|USD            |141340       |US                |0           |US              |M           |2024     |
|SE              |FT             |Software Engineer  |200000|USD            |200000       |US                |0           |US              |M           |2024     |
|SE              |FT             |Software Engineer  |136000|USD            |136000       |US                |0           |US              |M           |2024     |
|MI              |FT             |Engineering Manager|329600|USD            |329600       |US                |0           |US              |M           |2024     |
|MI              |FT             |Engineering Manager|190700|USD            |190700       |US                |0           |US              |M           |2024     |
|SE              |FT             |Manager            |360200|USD            |360200       |US                |0           |US              |M           |2024     |
|SE              |FT             |Manager            |208300|USD            |208300       |US                |0           |US              |M           |2024     |
|MI              |FT             |Engineer           |264200|USD            |264200       |US                |0           |US              |M           |2024     |
|MI              |FT             |Engineer           |143100|USD            |143100       |US                |0           |US              |M           |2024     |
|SE              |FT             |Software Engineer  |312200|USD            |312200       |US                |0           |US              |M           |2024     |
|SE              |FT             |Software Engineer  |175800|USD            |175800       |US                |0           |US              |M           |2024     |
+----------------+---------------+-------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
only showing top 20 rows

In [65]:
df.describe().show(truncate=False)

+-------+----------------+---------------+----------------+------------------+---------------+------------------+------------------+-----------------+----------------+------------+-------------------+
|summary|experience_level|employment_type|job_title       |salary            |salary_currency|salary_in_usd     |employee_residence|remote_ratio     |company_location|company_size|work_year          |
+-------+----------------+---------------+----------------+------------------+---------------+------------------+------------------+-----------------+----------------+------------+-------------------+
|count  |64934           |64934          |64934           |64934             |64934          |64934             |64934             |64934            |64934           |64934       |64934              |
|mean   |NULL            |NULL           |NULL            |163455.40835309698|NULL           |158714.31233252224|NULL              |21.89068900729972|NULL            |NULL        |2023.8029691686943 |
|stddev |NULL            |NULL           |NULL            |199283.22354623763|NULL           |72175.1316577983  |NULL              |41.22169488457914|NULL            |NULL        |0.49326993178821144|
|min    |EN              |CT             |AI Architect    |14000             |AUD            |15000             |AD                |0                |AD              |L           |2020               |
|max    |SE              |PT             |Technical Writer|30400000          |ZAR            |800000            |ZA                |100              |ZA              |S           |2024               |
+-------+----------------+---------------+----------------+------------------+---------------+------------------+------------------+-----------------+----------------+------------+-------------------+

In [69]:
df.count()

64934

In [70]:
df.distinct().count()

30355

In [ ]:
df.groupBy(df.columns).agg(F.count("*").alias("count")).sort(
    "count", ascending=False
).show(truncate=False)

+----------------+---------------+---------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+-----+
|experience_level|employment_type|job_title                  |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|work_year|count|
+----------------+---------------+---------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+-----+
|SE              |FT             |Data Scientist             |160000|USD            |160000       |US                |100         |US              |M           |2024     |181  |
|SE              |FT             |Data Scientist             |110000|USD            |110000       |US                |100         |US              |M           |2024     |168  |
|SE              |FT             |Machine Learning Researcher|110000|USD            |110000       |US                |100         |US              |M           |2024     |161  |
|SE              |FT             |Machine Learning Researcher|160000|USD            |160000       |US                |100         |US              |M           |2024     |161  |
|SE              |FT             |Applied Scientist          |160000|USD            |160000       |US                |100         |US              |M           |2024     |108  |
|SE              |FT             |Applied Scientist          |110000|USD            |110000       |US                |100         |US              |M           |2024     |107  |
|MI              |FT             |Applied Scientist          |222200|USD            |222200       |US                |0           |US              |L           |2024     |98   |
|MI              |FT             |Applied Scientist          |136000|USD            |136000       |US                |0           |US              |L           |2024     |98   |
|SE              |FT             |Software Engineer          |180000|USD            |180000       |US                |0           |US              |M           |2024     |82   |
|SE              |FT             |Software Engineer          |252000|USD            |252000       |US                |0           |US              |M           |2024     |76   |
|SE              |FT             |Software Engineer          |148000|USD            |148000       |US                |0           |US              |M           |2024     |75   |
|SE              |FT             |Software Engineer          |200000|USD            |200000       |US                |0           |US              |M           |2024     |72   |
|SE              |FT             |Software Engineer          |160000|USD            |160000       |US                |0           |US              |M           |2024     |71   |
|SE              |FT             |Software Engineer          |168000|USD            |168000       |US                |0           |US              |M           |2024     |69   |
|SE              |FT             |Software Engineer          |276000|USD            |276000       |US                |0           |US              |M           |2024     |65   |
|SE              |FT             |Applied Scientist          |260000|USD            |260000       |US                |0           |US              |L           |2024     |62   |
|SE              |FT             |Data Scientist             |180000|USD            |180000       |US                |0           |US              |M           |2024     |61   |
|SE              |FT             |Data Engineer              |160000|USD            |160000       |US                |0           |US              |M           |2024     |59   |
|SE              |FT             |Machine Learning Engineer  |355000|USD            |355000       |US                |0           |US              |M           |2024     |58   |
|SE              |FT             |Data Engineer              |180000|USD            |180000       |US                |0           |US              |M           |2024     |57   |
+----------------+---------------+---------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+-----+
only showing top 20 rows

In [83]:
df_id = df.withColumn("id", F.monotonically_increasing_id()).select("id", *df.columns)

In [84]:
df_id.show(truncate=False)

+---+----------------+---------------+-------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
|id |experience_level|employment_type|job_title          |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|work_year|
+---+----------------+---------------+-------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
|0  |MI              |FT             |Data Manager       |117400|USD            |117400       |US                |0           |US              |M           |2024     |
|1  |MI              |FT             |Data Manager       |62620 |USD            |62620        |US                |0           |US              |M           |2024     |
|2  |SE              |FT             |Data Manager       |131200|USD            |131200       |US                |100         |US              |M           |2024     |
|3  |SE              |FT             |Data Manager       |95300 |USD            |95300        |US                |100         |US              |M           |2024     |
|4  |SE              |FT             |Associate          |68800 |USD            |68800        |US                |0           |US              |M           |2024     |
|5  |SE              |FT             |Associate          |48000 |USD            |48000        |US                |0           |US              |M           |2024     |
|6  |EN              |FT             |Data Engineer      |264200|USD            |264200       |US                |0           |US              |M           |2024     |
|7  |EN              |FT             |Data Engineer      |143100|USD            |143100       |US                |0           |US              |M           |2024     |
|8  |MI              |FT             |Research Engineer  |208000|USD            |208000       |US                |0           |US              |M           |2024     |
|9  |MI              |FT             |Research Engineer  |141340|USD            |141340       |US                |0           |US              |M           |2024     |
|10 |SE              |FT             |Software Engineer  |200000|USD            |200000       |US                |0           |US              |M           |2024     |
|11 |SE              |FT             |Software Engineer  |136000|USD            |136000       |US                |0           |US              |M           |2024     |
|12 |MI              |FT             |Engineering Manager|329600|USD            |329600       |US                |0           |US              |M           |2024     |
|13 |MI              |FT             |Engineering Manager|190700|USD            |190700       |US                |0           |US              |M           |2024     |
|14 |SE              |FT             |Manager            |360200|USD            |360200       |US                |0           |US              |M           |2024     |
|15 |SE              |FT             |Manager            |208300|USD            |208300       |US                |0           |US              |M           |2024     |
|16 |MI              |FT             |Engineer           |264200|USD            |264200       |US                |0           |US              |M           |2024     |
|17 |MI              |FT             |Engineer           |143100|USD            |143100       |US                |0           |US              |M           |2024     |
|18 |SE              |FT             |Software Engineer  |312200|USD            |312200       |US                |0           |US              |M           |2024     |
|19 |SE              |FT             |Software Engineer  |175800|USD            |175800       |US                |0           |US              |M           |2024     |
+---+----------------+---------------+-------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
only showing top 20 rows

In [85]:
df_id.distinct().count()

64934

In [86]:
def count_categories(df, column):
    return df.groupBy(column).agg(F.count("*").alias("count"))

In [88]:
for column in df_id.columns:
    print(f"Analisando coluna {column} ...")
    count_categories(df_id, column).sort("count", ascending=False).show(truncate=False)

Analisando coluna id ...
+----+-----+
|id  |count|
+----+-----+
|26  |1    |
|29  |1    |
|474 |1    |
|964 |1    |
|1677|1    |
|1697|1    |
|1806|1    |
|1950|1    |
|2040|1    |
|2214|1    |
|2250|1    |
|2453|1    |
|2509|1    |
|2529|1    |
|2927|1    |
|3091|1    |
|3506|1    |
|3764|1    |
|4590|1    |
|4823|1    |
+----+-----+
only showing top 20 rows

Analisando coluna experience_level ...
+----------------+-----+
|experience_level|count|
+----------------+-----+
|SE              |38223|
|MI              |19381|
|EN              |5962 |
|EX              |1368 |
+----------------+-----+

Analisando coluna employment_type ...
+---------------+-----+
|employment_type|count|
+---------------+-----+
|FT             |64653|
|PT             |145  |
|CT             |120  |
|FL             |16   |
+---------------+-----+

Analisando coluna job_title ...
+------------------------------+-----+
|job_title                     |count|
+------------------------------+-----+
|Data Scientist                |10570|
|Data Engineer                 |8707 |
|Software Engineer             |6767 |
|Data Analyst                  |6581 |
|Machine Learning Engineer     |5433 |
|Engineer                      |3282 |
|Research Scientist            |2153 |
|Manager                       |2006 |
|Applied Scientist             |1478 |
|Data Architect                |1159 |
|Analyst                       |1087 |
|Analytics Engineer            |1032 |
|Research Engineer             |958  |
|Product Manager               |856  |
|Associate                     |768  |
|AI Engineer                   |547  |
|Business Intelligence Engineer|542  |
|Data Manager                  |533  |
|Machine Learning Researcher   |423  |
|Business Intelligence Analyst |417  |
+------------------------------+-----+
only showing top 20 rows

Analisando coluna salary ...
+------+-----+
|salary|count|
+------+-----+
|160000|1348 |
|110000|1112 |
|150000|997  |
|100000|904  |
|180000|866  |
|200000|834  |
|120000|791  |
|140000|786  |
|130000|758  |
|90000 |612  |
|145000|577  |
|170000|568  |
|80000 |541  |
|250000|515  |
|220000|511  |
|135000|486  |
|190000|480  |
|175000|465  |
|70000 |428  |
|125000|418  |
+------+-----+
only showing top 20 rows

Analisando coluna salary_currency ...
+---------------+-----+
|salary_currency|count|
+---------------+-----+
|USD            |61750|
|GBP            |1773 |
|EUR            |1018 |
|CAD            |189  |
|INR            |69   |
|CHF            |29   |
|PLN            |21   |
|AUD            |16   |
|BRL            |15   |
|SGD            |10   |
|PHP            |7    |
|JPY            |6    |
|HUF            |5    |
|DKK            |4    |
|TRY            |4    |
|ZAR            |3    |
|ILS            |3    |
|MXN            |3    |
|THB            |2    |
|NOK            |2    |
+---------------+-----+
only showing top 20 rows

Analisando coluna salary_in_usd ...
+-------------+-----+
|salary_in_usd|count|
+-------------+-----+
|160000       |1339 |
|110000       |1083 |
|150000       |990  |
|100000       |880  |
|180000       |860  |
|200000       |829  |
|140000       |772  |
|120000       |752  |
|130000       |747  |
|145000       |575  |
|170000       |564  |
|90000        |534  |
|250000       |513  |
|220000       |510  |
|190000       |480  |
|135000       |479  |
|80000        |473  |
|175000       |469  |
|125000       |441  |
|115000       |405  |
+-------------+-----+
only showing top 20 rows

Analisando coluna employee_residence ...
+------------------+-----+
|employee_residence|count|
+------------------+-----+
|US                |58762|
|CA                |2143 |
|GB                |1850 |
|DE                |206  |
|AU                |190  |
|ES                |177  |
|FR                |162  |
|IN                |131  |
|NL                |115  |
|LT                |106  |
|AT                |75   |
|IE                |68   |
|BR                |57   |
|ZA                |55   |
|PL                |51   |
|MX                |50   |
|AR                |45   |
|SK                |44   |
|PT                |41   |
|EG                |40   |
+------------------+-----+
only showing top 20 rows

Analisando coluna remote_ratio ...
+------------+-----+
|remote_ratio|count|
+------------+-----+
|0           |50581|
|100         |14076|
|50          |277  |
+------------+-----+

Analisando coluna company_location ...
+----------------+-----+
|company_location|count|
+----------------+-----+
|US              |58814|
|CA              |2145 |
|GB              |1858 |
|DE              |214  |
|AU              |194  |
|ES              |173  |
|FR              |158  |
|NL              |115  |
|IN              |114  |
|LT              |106  |
|AT              |75   |
|IE              |68   |
|ZA              |55   |
|BR              |55   |
|MX              |51   |
|PL              |50   |
|SK              |44   |
|AR              |41   |
|FI              |40   |
|PT              |39   |
+----------------+-----+
only showing top 20 rows

Analisando coluna company_size ...
+------------+-----+
|company_size|count|
+------------+-----+
|M           |62563|
|L           |2167 |
|S           |204  |
+------------+-----+

Analisando coluna work_year ...
+---------+-----+
|work_year|count|
+---------+-----+
|2024     |54460|
|2023     |8522 |
|2022     |1659 |
|2021     |218  |
|2020     |75   |
+---------+-----+

In [89]:
df.filter(F.col("salary_currency") == "BRL").show(truncate=False)

+----------------+---------------+-----------------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
|experience_level|employment_type|job_title                          |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|work_year|
+----------------+---------------+-----------------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+
|SE              |FT             |Software Developer                 |368200|BRL            |75142        |BR                |0           |BR              |M           |2024     |
|SE              |FT             |Software Developer                 |216200|BRL            |44122        |BR                |0           |BR              |M           |2024     |
|SE              |FT             |Software Engineer                  |443000|BRL            |90408        |BR                |100         |BR              |M           |2024     |
|SE              |FT             |Software Engineer                  |327000|BRL            |66734        |BR                |100         |BR              |M           |2024     |
|SE              |FT             |Software Engineer                  |443000|BRL            |90408        |BR                |100         |BR              |M           |2024     |
|SE              |FT             |Software Engineer                  |327000|BRL            |66734        |BR                |100         |BR              |M           |2024     |
|MI              |FT             |Data Engineer                      |294000|BRL            |59999        |BR                |100         |BR              |M           |2024     |
|MI              |FT             |Data Engineer                      |264000|BRL            |53877        |BR                |100         |BR              |M           |2024     |
|SE              |FT             |Data Engineer                      |119297|BRL            |24346        |BR                |0           |BR              |M           |2024     |
|SE              |FT             |Data Engineer                      |119297|BRL            |24346        |BR                |0           |BR              |M           |2024     |
|MI              |FT             |MLOps Engineer                     |140400|BRL            |27568        |BR                |100         |BR              |L           |2023     |
|SE              |FT             |Principal Machine Learning Engineer|195000|BRL            |38290        |BR                |50          |BR              |L           |2023     |
|EN              |FT             |Data Scientist                     |101400|BRL            |19910        |BR                |100         |BR              |L           |2023     |
|SE              |FT             |BI Analyst                         |133333|BRL            |25804        |BR                |100         |BR              |M           |2022     |
|SE              |FT             |Computer Vision Engineer           |102000|BRL            |18907        |BR                |0           |BR              |M           |2021     |
+----------------+---------------+-----------------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+

In [90]:
df.select("job_title").distinct().count()

267

In [91]:
df.groupBy("job_title").agg(F.count("*").alias("count")).sort(
    "count", ascending=False
).show(100, truncate=False)

+-----------------------------------------+-----+
|job_title                                |count|
+-----------------------------------------+-----+
|Data Scientist                           |10570|
|Data Engineer                            |8707 |
|Software Engineer                        |6767 |
|Data Analyst                             |6581 |
|Machine Learning Engineer                |5433 |
|Engineer                                 |3282 |
|Research Scientist                       |2153 |
|Manager                                  |2006 |
|Applied Scientist                        |1478 |
|Data Architect                           |1159 |
|Analyst                                  |1087 |
|Analytics Engineer                       |1032 |
|Research Engineer                        |958  |
|Product Manager                          |856  |
|Associate                                |768  |
|AI Engineer                              |547  |
|Business Intelligence Engineer           |542  |
|Data Manager                             |533  |
|Machine Learning Researcher              |423  |
|Business Intelligence Analyst            |417  |
|Consultant                               |358  |
|Data Specialist                          |344  |
|Solutions Architect                      |328  |
|Research Analyst                         |319  |
|Engineering Manager                      |314  |
|Software Development Engineer            |293  |
|Machine Learning Scientist               |288  |
|Business Intelligence                    |284  |
|Software Developer                       |272  |
|Systems Engineer                         |260  |
|Business Intelligence Developer          |219  |
|Site Reliability Engineer                |202  |
|BI Developer                             |194  |
|DevOps Engineer                          |190  |
|Platform Engineer                        |166  |
|Business Analyst                         |157  |
|Head of Data                             |148  |
|Solutions Engineer                       |148  |
|Data Product Manager                     |136  |
|Decision Scientist                       |132  |
|Backend Engineer                         |131  |
|AI Architect                             |127  |
|Data Analytics Manager                   |124  |
|BI Analyst                               |118  |
|Data Modeler                             |116  |
|Data Management Analyst                  |100  |
|Developer                                |100  |
|Data Lead                                |90   |
|MLOps Engineer                           |90   |
|Computer Vision Engineer                 |86   |
|Full Stack Engineer                      |84   |
|AI Developer                             |81   |
|Data Analytics Lead                      |79   |
|Data Quality Analyst                     |77   |
|Solution Architect                       |76   |
|Data Management Specialist               |71   |
|Data Developer                           |66   |
|Cloud Engineer                           |64   |
|Data Infrastructure Engineer             |64   |
|Product Analyst                          |62   |
|Insight Analyst                          |62   |
|Data Operations Analyst                  |60   |
|Robotics Engineer                        |58   |
|AI Scientist                             |58   |
|Security Engineer                        |56   |
|Data Product Owner                       |54   |
|Statistical Programmer                   |54   |
|Data Integration Engineer                |54   |
|BI Engineer                              |52   |
|Data Strategist                          |52   |
|Technical Lead                           |50   |
|Research Associate                       |49   |
|AI Specialist                            |48   |
|Power BI Developer                       |47   |
|Data Governance Analyst                  |46   |
|Data Analytics Specialist                |44   |
|Quantitative Analyst                     |43   |
|Data Visualization Specialist            |42   |
|Data Reporting Analyst                   |42   |
|Machine Learning Infrastructure Engineer |41   |
|Data Integration Specialist              |41   |
|ETL Developer                            |40   |
|Principal Application Delivery Consultant|40   |
|Data Operations Engineer                 |40   |
|Prompt Engineer                          |39   |
|Quantitative Researcher                  |38   |
|Machine Learning Developer               |38   |
|Data Governance Specialist               |36   |
|Full Stack Developer                     |36   |
|AI Researcher                            |36   |
|Cloud Database Engineer                  |35   |
|Principal Statistical Programmer         |34   |
|Data Governance Lead                     |34   |
|Business Intelligence Manager            |34   |
|Data Visualization Analyst               |33   |
|Python Developer                         |32   |
|Data Operations Specialist               |32   |
|Statistician                             |32   |
|Data Analytics Consultant                |30   |
|Data Visualization Engineer              |30   |
+-----------------------------------------+-----+
only showing top 100 rows

In [112]:
df_job_focus = df_id.withColumn(
    "job_focus",
    F.when(F.contains(F.col("job_title"), F.lit("Engineer")), "Engineer")
    .when(F.contains(F.col("job_title"), F.lit("Scien")), "Scientist")
    .when(F.contains(F.col("job_title"), F.lit("Research")), "Scientist")
    .when(F.contains(F.col("job_title"), F.lit("Analy")), "Analyst")
    .when(F.contains(F.col("job_title"), F.lit("Architect")), "Architect")
    .when(F.contains(F.col("job_title"), F.lit("Model")), "Architect")
    .when(
        F.contains(F.col("job_title"), F.lit("Business Intelligence")),
        "Business Intelligence",
    )
    .when(F.contains(F.col("job_title"), F.lit("BI")), "Business Intelligence")
    .when(F.contains(F.col("job_title"), F.lit("Visual")), "Business Intelligence")
    .when(F.contains(F.col("job_title"), F.lit("Manager")), "Manager")
    .otherwise("Others"),
)

In [113]:
df_job_focus.groupBy("job_focus").agg(F.count("*").alias("count")).show(truncate=False)

+---------------------+-----+
|job_focus            |count|
+---------------------+-----+
|Scientist            |15665|
|Architect            |1859 |
|Analyst              |9337 |
|Others               |3372 |
|Engineer             |30172|
|Manager              |3647 |
|Business Intelligence|882  |
+---------------------+-----+

In [114]:
df_job_focus.filter(F.col("job_focus") == "Others").distinct().count()

3372

In [115]:
df_job_focus.filter(F.col("job_focus") == "Others").groupBy("job_title").agg(
    F.count("*").alias("count")
).sort("count", ascending=False).show(100, truncate=False)

+-----------------------------------------+-----+
|job_title                                |count|
+-----------------------------------------+-----+
|Associate                                |768  |
|Consultant                               |358  |
|Data Specialist                          |344  |
|Software Developer                       |272  |
|Head of Data                             |148  |
|Developer                                |100  |
|Data Lead                                |90   |
|AI Developer                             |81   |
|Data Management Specialist               |71   |
|Data Developer                           |66   |
|Data Product Owner                       |54   |
|Statistical Programmer                   |54   |
|Data Strategist                          |52   |
|Technical Lead                           |50   |
|AI Specialist                            |48   |
|Data Integration Specialist              |41   |
|Principal Application Delivery Consultant|40   |
|ETL Developer                            |40   |
|Machine Learning Developer               |38   |
|Data Governance Specialist               |36   |
|Full Stack Developer                     |36   |
|Data Governance Lead                     |34   |
|Principal Statistical Programmer         |34   |
|Python Developer                         |32   |
|Data Operations Specialist               |32   |
|Statistician                             |32   |
|Encounter Data Management Professional   |28   |
|Data Quality Lead                        |26   |
|Member of Technical Staff                |26   |
|Product Designer                         |23   |
|Computational Biologist                  |18   |
|Data Operations Associate                |18   |
|Data Team Lead                           |18   |
|Director of Machine Learning             |18   |
|Head of AI                               |16   |
|Cloud Database Administrator             |16   |
|Data Management Lead                     |16   |
|Data Quality Specialist                  |14   |
|Data Integration Developer               |12   |
|AI Lead                                  |11   |
|Bear Robotics                            |10   |
|Data Governance                          |10   |
|Data Strategy Lead                       |10   |
|Stage                                    |10   |
|Data Management Consultant               |10   |
|AI Product Owner                         |10   |
|Head of Machine Learning                 |9    |
|AI Programmer                            |9    |
|Technical Writer                         |8    |
|Clinical Data Operator                   |6    |
|Master Data Management                   |6    |
|Bioinformatician                         |6    |
|Machine Learning Specialist              |6    |
|Data and Reporting Professional          |6    |
|Chatbot Developer                        |4    |
|Data Management Associate                |4    |
|Postdoctoral Fellow                      |4    |
|Data Integration Coordinator             |4    |
|Quantitative Developer                   |4    |
|Big Data Developer                       |3    |
|Machine Learning Lead                    |2    |
|Master Data Specialist                   |2    |
|Applied AI ML Lead                       |2    |
|SAS Developer                            |2    |
|Technical Specialist                     |2    |
|Product Owner                            |2    |
|Autonomous Vehicle Technician            |2    |
|Cloud Developer                          |2    |
|Data Operations Lead                     |2    |
|Elasticsearch Administrator              |2    |
|Enterprise Account Executive             |2    |
+-----------------------------------------+-----+

### Corrigir o salário em dólares pela inflação americana anual

[Referência](https://www.macrotrends.net/global-metrics/countries/USA/united-states/inflation-rate-cpi)

In [ ]:
inflation = spark.createDataFrame(
    [
        Row(year=2020, rate=0.0123),
        Row(year=2021, rate=0.0470),
        Row(year=2022, rate=0.0800),
        Row(year=2023, rate=0.0412),
        Row(year=2024, rate=0.0),
    ]
)

In [126]:
inflation.show(truncate=False)

+----+------+
|year|rate  |
+----+------+
|2020|0.0123|
|2021|0.047 |
|2022|0.08  |
|2023|0.0412|
|2024|0.0   |
+----+------+

In [127]:
cumulative_inflation = (
    inflation.select("year")
    .alias("a")
    .join(inflation.alias("b"), F.col("b.year") >= F.col("a.year"), how="left")
    .select("a.year", "rate")
    .groupBy("year")
    .agg(F.sum(F.col("rate")).alias("cumulative_rate"))
)

In [ ]:
cumulative_inflation.sort("year").show(truncate=False)

+----+-------------------+
|year|cumulative_rate    |
+----+-------------------+
|2020|0.1805             |
|2021|0.16820000000000002|
|2022|0.1212             |
|2023|0.0412             |
|2024|0.0                |
+----+-------------------+

In [ ]:
df_update = (
    df_job_focus.join(
        cumulative_inflation, df.work_year == cumulative_inflation.year, how="left"
    )
    .withColumn(
        "updated_salary",
        F.round(
            F.col("salary_in_usd") + F.col("salary_in_usd") * F.col("cumulative_rate"),
            2,
        ),
    )
    .sort("work_year")
)

In [131]:
df_update.show(truncate=False)

+-----------+----------------+---------------+-------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+---------+----+---------------+--------------+
|id         |experience_level|employment_type|job_title                |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|work_year|job_focus|year|cumulative_rate|updated_salary|
+-----------+----------------+---------------+-------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+---------+----+---------------+--------------+
|17179869184|EN              |FT             |Azure Data Engineer      |100000|USD            |100000       |MU                |0           |MU              |S           |2020     |Engineer |2020|0.1805         |118050.0      |
|17179869204|EN              |FT             |Machine Learning Engineer|250000|USD            |250000       |US                |50          |US              |L           |2020     |Engineer |2020|0.1805         |295125.0      |
|17179869185|EN              |CT             |Staff Data Analyst       |60000 |CAD            |44753        |CA                |50          |CA              |L           |2020     |Analyst  |2020|0.1805         |52830.92      |
|17179869186|SE              |FT             |Staff Data Scientist     |164000|USD            |164000       |US                |50          |US              |M           |2020     |Scientist|2020|0.1805         |193602.0      |
|17179869187|EN              |FT             |Data Analyst             |42000 |EUR            |47899        |DE                |0           |DE              |L           |2020     |Analyst  |2020|0.1805         |56544.77      |
|17179869188|EX              |FT             |Data Scientist           |300000|USD            |300000       |US                |100         |US              |L           |2020     |Scientist|2020|0.1805         |354150.0      |
|17179869189|MI              |CT             |Sales Data Analyst       |60000 |USD            |60000        |NG                |0           |NG              |M           |2020     |Analyst  |2020|0.1805         |70830.0       |
|17179869190|EX              |FT             |Staff Data Analyst       |15000 |USD            |15000        |NG                |0           |CA              |M           |2020     |Analyst  |2020|0.1805         |17707.5       |
|17179869191|MI              |FT             |Business Data Analyst    |95000 |USD            |95000        |US                |0           |US              |M           |2020     |Analyst  |2020|0.1805         |112147.5      |
|17179869192|EN              |FT             |Data Analyst             |20000 |EUR            |22809        |PT                |100         |PT              |M           |2020     |Analyst  |2020|0.1805         |26926.02      |
|17179869193|EN              |FT             |Data Scientist           |43200 |EUR            |49268        |DE                |0           |DE              |S           |2020     |Scientist|2020|0.1805         |58160.87      |
|17179869194|SE              |FT             |Machine Learning Manager |157000|CAD            |117104       |CA                |50          |CA              |L           |2020     |Manager  |2020|0.1805         |138241.27     |
|17179869195|EN              |FT             |Data Engineer            |48000 |EUR            |54742        |PK                |100         |DE              |L           |2020     |Engineer |2020|0.1805         |64622.93      |
|17179869196|MI              |FT             |Product Data Analyst     |20000 |USD            |20000        |HN                |0           |HN              |S           |2020     |Analyst  |2020|0.1805         |23610.0       |
|17179869197|MI              |FT             |Data Engineer            |51999 |EUR            |59303        |DE                |100         |DE              |S           |2020     |Engineer |2020|0.1805         |70007.19      |
|17179869198|EN              |FT             |Big Data Engineer        |70000 |USD            |70000        |US                |100         |US              |L           |2020     |Engineer |2020|0.1805         |82635.0       |
|17179869199|SE              |FT             |Data Scientist           |60000 |EUR            |68428        |GR                |100         |US              |L           |2020     |Scientist|2020|0.1805         |80779.25      |
|17179869200|MI              |FT             |Research Scientist       |450000|USD            |450000       |US                |0           |US              |M           |2020     |Scientist|2020|0.1805         |531225.0      |
|17179869201|MI              |FT             |Data Analyst             |41000 |EUR            |46759        |FR                |50          |FR              |L           |2020     |Analyst  |2020|0.1805         |55199.0       |
|17179869202|MI              |FT             |Data Engineer            |65000 |EUR            |74130        |AT                |50          |AT              |L           |2020     |Engineer |2020|0.1805         |87510.47      |
+-----------+----------------+---------------+-------------------------+------+---------------+-------------+------------------+------------+----------------+------------+---------+---------+----+---------------+--------------+
only showing top 20 rows

In [132]:
def evaluate_response_variable(df, column):
    return df.groupBy(column).agg(
        F.count("*").alias("count"),
        F.mean("updated_salary").alias("mean_updated_salary"),
    )

In [133]:
for column in df_update.columns:
    evaluate_response_variable(df_update, column).sort(column).show(truncate=False)

+---+-----+-------------------+
|id |count|mean_updated_salary|
+---+-----+-------------------+
|0  |1    |117400.0           |
|1  |1    |62620.0            |
|2  |1    |131200.0           |
|3  |1    |95300.0            |
|4  |1    |68800.0            |
|5  |1    |48000.0            |
|6  |1    |264200.0           |
|7  |1    |143100.0           |
|8  |1    |208000.0           |
|9  |1    |141340.0           |
|10 |1    |200000.0           |
|11 |1    |136000.0           |
|12 |1    |329600.0           |
|13 |1    |190700.0           |
|14 |1    |360200.0           |
|15 |1    |208300.0           |
|16 |1    |264200.0           |
|17 |1    |143100.0           |
|18 |1    |312200.0           |
|19 |1    |175800.0           |
+---+-----+-------------------+
only showing top 20 rows

+----------------+-----+-------------------+
|experience_level|count|mean_updated_salary|
+----------------+-----+-------------------+
|EN              |5962 |103807.70805769876 |
|EX              |1368 |203245.1771856725  |
|MI              |19381|144201.95244879005 |
|SE              |38223|175293.14983439283 |
+----------------+-----+-------------------+

+---------------+-----+-------------------+
|employment_type|count|mean_updated_salary|
+---------------+-----+-------------------+
|CT             |120  |109309.44325       |
|FL             |16   |55177.57124999999  |
|FT             |64653|160341.3094164231  |
|PT             |145  |78637.32641379311  |
+---------------+-----+-------------------+

+--------------------------------+-----+-------------------+
|job_title                       |count|mean_updated_salary|
+--------------------------------+-----+-------------------+
|AI Architect                    |127  |220413.08787401573 |
|AI Data Scientist               |5    |51275.8            |
|AI Developer                    |81   |163619.655308642   |
|AI Engineer                     |547  |164318.49305301646 |
|AI Engineering Manager          |1    |91111.0            |
|AI Lead                         |11   |144273.45454545456 |
|AI Machine Learning Engineer    |1    |120000.0           |
|AI Product Manager              |27   |195355.33333333334 |
|AI Product Owner                |10   |108333.3           |
|AI Programmer                   |9    |102163.99          |
|AI Research Engineer            |8    |78587.4675         |
|AI Research Scientist           |6    |91984.33333333333  |
|AI Researcher                   |36   |175597.19444444444 |
|AI Scientist                    |58   |172305.93155172412 |
|AI Software Development Engineer|1    |25210.0            |
|AI Software Engineer            |11   |158179.36363636365 |
|AI Solution Architect           |10   |189079.8           |
|AI Specialist                   |48   |153402.4375        |
|AWS Data Architect              |1    |268629.6           |
|Actuarial Analyst               |6    |91333.33333333333  |
+--------------------------------+-----+-------------------+
only showing top 20 rows

+------+-----+-------------------+
|salary|count|mean_updated_salary|
+------+-----+-------------------+
|14000 |1    |18847.86           |
|14400 |3    |16320.876666666669 |
|15000 |5    |17106.5            |
|15600 |3    |17333.0            |
|15662 |1    |18449.35           |
|16000 |5    |16131.84           |
|16680 |2    |18533.0            |
|17000 |1    |17700.4            |
|17400 |2    |19333.0            |
|17598 |1    |17598.0            |
|17600 |1    |17600.0            |
|18000 |8    |19343.184999999998 |
|19000 |1    |25580.25           |
|19200 |5    |21333.0            |
|20000 |17   |22501.00352941177  |
|20929 |1    |26161.0            |
|21000 |5    |24838.932          |
|21099 |4    |21099.0            |
|21204 |1    |23560.0            |
|21500 |1    |23888.0            |
+------+-----+-------------------+
only showing top 20 rows

+---------------+-----+-------------------+
|salary_currency|count|mean_updated_salary|
+---------------+-----+-------------------+
|AUD            |16   |81414.53875        |
|BRL            |15   |49095.74933333333  |
|CAD            |189  |106692.06084656085 |
|CHF            |29   |125964.3324137931  |
|CLP            |1    |46772.39           |
|CZK            |1    |61333.0            |
|DKK            |4    |56882.335          |
|EUR            |1018 |70646.2194204322   |
|GBP            |1773 |85821.83227298364  |
|HKD            |1    |67738.39           |
|HUF            |5    |27041.645999999997 |
|ILS            |3    |223994.89          |
|INR            |69   |38381.74347826087  |
|JPY            |6    |64286.486666666664 |
|MXN            |3    |81015.91333333333  |
|NOK            |2    |92106.63500000001  |
|NZD            |1    |125000.0           |
|PHP            |7    |22650.43142857143  |
|PLN            |21   |63633.298571428575 |
|SEK            |1    |91262.0            |
+---------------+-----+-------------------+
only showing top 20 rows

+-------------+-----+-------------------+
|salary_in_usd|count|mean_updated_salary|
+-------------+-----+-------------------+
|15000        |4    |17216.625          |
|15107        |1    |15107.0            |
|15129        |1    |16962.63           |
|15419        |2    |15419.0            |
|15680        |1    |16326.02           |
|15809        |1    |16460.33           |
|15897        |1    |17823.72           |
|15966        |1    |18847.86           |
|16000        |7    |16094.171428571428 |
|16228        |1    |18957.55           |
|16417        |1    |17093.38           |
|16455        |1    |18449.35           |
|16666        |1    |16666.0            |
|16904        |2    |19747.25           |
|17000        |1    |17700.4            |
|17025        |2    |17726.43           |
|17266        |1    |17266.0            |
|17333        |3    |17333.0            |
|17511        |1    |18232.45           |
|17598        |1    |17598.0            |
+-------------+-----+-------------------+
only showing top 20 rows

+------------------+-----+-------------------+
|employee_residence|count|mean_updated_salary|
+------------------+-----+-------------------+
|AD                |1    |52835.69           |
|AE                |5    |94635.9            |
|AM                |8    |51828.3            |
|AR                |45   |66830.39111111111  |
|AS                |1    |53217.35           |
|AT                |75   |67129.07653333334  |
|AU                |190  |131461.8405263158  |
|BA                |2    |77472.0            |
|BE                |17   |132334.7817647059  |
|BG                |4    |88363.75           |
|BM                |1    |100000.0           |
|BO                |2    |84090.0            |
|BR                |57   |67202.0954385965   |
|CA                |2143 |137365.18864675687 |
|CF                |2    |51243.7            |
|CH                |33   |126857.50424242424 |
|CL                |14   |67273.31357142857  |
|CN                |1    |140602.96          |
|CO                |32   |68072.8425         |
|CR                |3    |35474.666666666664 |
+------------------+-----+-------------------+
only showing top 20 rows

+------------+-----+-------------------+
|remote_ratio|count|mean_updated_salary|
+------------+-----+-------------------+
|0           |50581|162798.80741978204 |
|50          |277  |89480.43144404335  |
|100         |14076|151508.70323600454 |
+------------+-----+-------------------+

+----------------+-----+-------------------+
|company_location|count|mean_updated_salary|
+----------------+-----+-------------------+
|AD              |1    |52835.69           |
|AE              |5    |94635.9            |
|AM              |7    |56703.71428571428  |
|AR              |41   |68111.46341463414  |
|AS              |4    |42855.3775         |
|AT              |75   |67247.1128         |
|AU              |194  |130406.48113402062 |
|BA              |2    |77472.0            |
|BE              |15   |131253.24866666665 |
|BG              |3    |86666.33333333333  |
|BR              |55   |64208.862545454554 |
|BS              |1    |53217.35           |
|CA              |2145 |137298.0078041958  |
|CF              |2    |51243.7            |
|CH              |34   |123871.22676470588 |
|CL              |13   |63392.337692307694 |
|CN              |1    |116820.0           |
|CO              |32   |68072.8425         |
|CR              |2    |42000.0            |
|CY              |8    |49721.875          |
+----------------+-----+-------------------+
only showing top 20 rows

+------------+-----+-------------------+
|company_size|count|mean_updated_salary|
+------------+-----+-------------------+
|L           |2167 |157555.86437009697 |
|M           |62563|160333.3105276281  |
|S           |204  |96042.15553921567  |
+------------+-----+-------------------+

+---------+-----+-------------------+
|work_year|count|mean_updated_salary|
+---------+-----+-------------------+
|2020     |75   |120707.14813333338 |
|2021     |218  |116728.96591743124 |
|2022     |1659 |150446.99273056092 |
|2023     |8522 |160033.22655949293 |
|2024     |54460|160559.20668380463 |
+---------+-----+-------------------+

+---------------------+-----+-------------------+
|job_focus            |count|mean_updated_salary|
+---------------------+-----+-------------------+
|Analyst              |9337 |110244.16333190535 |
|Architect            |1859 |172031.79803119955 |
|Business Intelligence|882  |122628.80044217689 |
|Engineer             |30172|175327.9860579344  |
|Manager              |3647 |162947.82114614753 |
|Others               |3372 |131140.56791814946 |
|Scientist            |15665|166496.0678404084  |
+---------------------+-----+-------------------+

+----+-----+-------------------+
|year|count|mean_updated_salary|
+----+-----+-------------------+
|2020|75   |120707.14813333338 |
|2021|218  |116728.96591743124 |
|2022|1659 |150446.99273056092 |
|2023|8522 |160033.22655949293 |
|2024|54460|160559.20668380463 |
+----+-----+-------------------+

+-------------------+-----+-------------------+
|cumulative_rate    |count|mean_updated_salary|
+-------------------+-----+-------------------+
|0.0                |54460|160559.20668380463 |
|0.0412             |8522 |160033.22655949293 |
|0.1212             |1659 |150446.99273056092 |
|0.16820000000000002|218  |116728.96591743124 |
|0.1805             |75   |120707.14813333338 |
+-------------------+-----+-------------------+

+--------------+-----+-------------------+
|updated_salary|count|mean_updated_salary|
+--------------+-----+-------------------+
|15107.0       |1    |15107.0            |
|15419.0       |2    |15419.0            |
|16000.0       |6    |16000.0            |
|16326.02      |1    |16326.02           |
|16460.33      |1    |16460.33           |
|16659.2       |1    |16659.2            |
|16666.0       |1    |16666.0            |
|16818.0       |2    |16818.0            |
|16962.63      |1    |16962.63           |
|17093.38      |1    |17093.38           |
|17266.0       |1    |17266.0            |
|17333.0       |3    |17333.0            |
|17523.0       |1    |17523.0            |
|17598.0       |1    |17598.0            |
|17600.0       |1    |17600.0            |
|17700.4       |1    |17700.4            |
|17707.5       |1    |17707.5            |
|17726.43      |2    |17726.43           |
|17823.72      |1    |17823.72           |
|18000.0       |2    |18000.0            |
+--------------+-----+-------------------+
only showing top 20 rows

### Treinando modelo de regressão

In [141]:
from pyspark.mllib.tree import RandomForest
from pyspark.ml.feature import VectorIndexer, VectorAssembler

In [144]:
assembler = VectorAssembler(
    inputCols=[
        "experience_level",
        "employment_type",
        "employee_residence",
        "remote_ratio",
        "company_size",
    ],
    outputCol="features",
)

In [ ]:
output = indexer.transform(df_update)

IllegalArgumentException: Data type string of column experience_level is not supported.
Data type string of column employment_type is not supported.
Data type string of column employee_residence is not supported.
Data type string of column company_size is not supported.

In [136]:
model = RandomForest.trainRegressor(df_update, {}, 10)

AssertionError: the data should be RDD of LabeledPoint